body {
  width: 500px;
  height: 501px;
  font-family: proxima-nova, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#search {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#dataTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#dataTable th, #dataTable td {
  text-align: left;
  padding: 12px;
}

#dataTable tr {
  border-bottom: 1px solid #ddd;
}

#dataTable tr.header, #dataTable tr:hover {
  background-color: #f1f1f1;
}