.tutorial {
    width: 300px;
    text-align: center;
    margin: auto;
  }
  
  figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  
  figure .image img {
    width: 64px;
  }
  
  .notification {
    margin-top: 10px !important;
  }
  
  .results {
    max-height: 250px;
    overflow-y: scroll;
  }
  
  .title .icon {
    margin-left: 8px;
  }
  
  .hero {
    margin-bottom: 10px;
  }
  
  .forms {
    display: flex;
    justify-content: space-around;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    height: 30px;
  }
  
  .dropdown-item img {
    height: 25px;
    margin-right: 5px;
  }