.tutorial {
  width: 100%;
  text-align: left;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: left;
  background-color: black;
}

figure .image img {
  width: 100%;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}


.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: left;
  height: 60px;
}

.dropdown-item img {
  height: 55px;
  margin-right: 10px;
}

#container{
  width: 100px ;
}

html {
  background-image: linear-gradient(141deg, #425cf0 0%, #47c4f5 71%, #1ea1a3 100%);
  padding: 7px 10px 7px 10px;

}

#autocomplete{
  width: 300px;

}

label{
  color: white
}

.input{
  color: white;
  background-color: black;
}
.dropdown-content{
  width: 300px;
  background-color: black;
}

.dropdown-menu{
  padding-bottom: 7px;
  
}

a.dropdown-item{
  white-space: unset;
  color: white;
  background-color: black;
}

a.dropdown-item:hover + button{
  white-space: unset;
}
