.pill {
    /*  background-color: #ddd;*/
    background-image: linear-gradient(141deg, #ff7070e3 0%, #fb3e3edc 71%, #ff9d9d 100%);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.pill-servers {
    background: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    margin-top: 2px;
    margin-left: -5px;
    width: 160px;
    font-family: Montserrat, Arial;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    position: fixed;
    z-index: 1;
    padding-top: 7px;
    padding-bottom: 7px;
}

#vidSrcButton {
    margin-top: 6px;
}